.box_con05
  .con_pri
    .box_pri
      .box_tori
        %h4 プライバシーポリシー
        %p.txt 本サービスTesma（http://tesma.jp以下「当サイト」という）において、当サイトを利用される方（以下「ユーザー」という）を対象に本利用規程及び免責事項を規定しています。
      .box_num
        %h4 第1条（当サ-ビスの目的）
        %p.txt 臨床試験及び医療機器、食品、化粧品などの効果測定を目的とした臨床試験（以下「治験」といいます）の被験者募集情報を当サイトにて提供することにより、被験者として参加したいという意思を持つ方に対して、より多くの募集情報や適切な応募手段を提供することを目的としています。疾病・疾患などについての情報提供及び診断・診療行為のあっ旋などは目的としていませんので、疾病･疾患の診断・診療行為についての相談やお問合わせなどについては一切応じられません。
      .box_num
        %h4 第2条（手順）
        %p.txt 当サービスがご紹介する治験は、これに先立ってご紹介させていただいた研究室が責任を持って詳細な説明があった後、これを確認した上でユーザー様各自の意思決定により利用規約に同意して参加する手順になっております。
      .box_num
        %h4 第3条（知的財産権）
        %p.txt 当サービスで掲載している全ての文章、絵、写真、デザイン等の著作権、特許権、商標等一切の権利（知的財産権）は原則として当社に帰属するものとし、事前に当社の承諾なく当該権利を使用する事は禁止します。
      .box_num
        %h4 第4条（リンク）
        %p.txt 無断リンクは一切禁止いたします。
      .box_num
        %h4 第５条 (免責)
        %p.txt 第2条における意思決定は、参加の最終判断は各自自己責任であり、その意思決定によって生じたいかなる結果にも当社は一切責任を負いませんので予めご了承くださいまた、次のいずれか事由が生じたときは、当社はユーザー様に事前に通知することなく、一時的に本サービスを中断することがあります。これによりユーザー様が何らかの不利益を被った場合でも、当社は何ら責任を負いません。本サービス提供に必要なハードウェア、ソフトウェア等の損壊、保守、整備火災、停電等の災害により本サービスを提供できないとき地震、落雷、噴火、洪水、津波等の天災により本サービスを提供できないとき戦争、テロ、動乱、暴動、騒乱、労働争議等により本サービスを提供できないときその他運用上または技術上の問題で、運営者が本サービスの一時的な中断が必要であると判断したとき
  .con_pri
    .box_pri
      .box_tori
        %h4 個人情報保護について
        %p.txt Tesmaは、被験者募集業務を行うに当たって、お客様、利用者の個人情報及び特定個人情報等を保護することは重大な社会的責任と認識します。以下の通り個人情報及び特定個人情報保護方針を定め、適正な取扱いの確保について全社を挙げて取り組むことを宣言します。
      .box_num
        %h4 第1条
        %p.txt 個人情報及び特定個人情報等は、必要な範囲に限定して適切な手段で取得、提供します。また、特定された利用目的の達成に必要な範囲を超えた取扱い（目的外利用）を行わず、それを実現するための措置を講じます。
      .box_num
        %h4 第2条
        %p.txt 個人情報及び特定個人情報等への不正アクセス、または個人情報の紛失、破壊、改ざん及び漏えいなどのリスクに関して教育、監査、改善を通して合理的な安全対策を講じ、個人情報及び特定個人情報保護体制を継続的に向上します。
      .box_num
        %h4 第3条
        %p.txt 当サービスが保有する個人情報及び特定個人情報等に関して適用される法令及びその他の規範を遵守します。
      .box_num
        %h4 第4条
        %p.txt 当サービスは、個人情報及び特定個人情報等に関する質問及び苦情に、適切かつ迅速に対応いたします。
      .box_num
        %h4 第５条
        %p.txt 社会的ニーズや個人の要望、あるいは最新のIT技術動向を踏まえ、個人情報及び特定個人情報保護体制を適時･適切に見直しを図り、その改善を継続的に行います。
