%h1 MyPage
%p #{@user.name}さんの応募

%tbody
    - @posts.each do |post|
        .card
            .card-body
                = link_to "#{post.title}", post
                %p #{post.description}
                -if post.is_active == true && post.recruitment_period > Date.today
                    %p 募集中
                -else
                    %p 募集停止
                    %button.btn.btn-primary{type: "button"} お気に入り