%h1 Pages#index
%p Find me in app/views/pages/index.html.erb
%h1 ようこそ
%p トップページです。

/ = link_to '新規登録', new_post_path, class: 'btn btn-primary'

/
 = form_with model: @post, local: true do |f|
  .field
   / = f.label :name
   / = f.text_field :name, class: 'form-control', id: 'task_name'
  .field
  / = f.label :description
  / = f.text_field :name, class: 'form-control', id: 'task_name'
