\===============================
= @user.name
様
\===============================

@post.titleの応募が完了いたしました。

■■■　@post.titleについて　■■■

集合場所: @post.text_field

注意事項: @post.caution

持ち物: @post.item

謝礼: @post.reward

当日の実験にスムーズに参加できるようにご準備ください。


＜本件に関するお問い合わせ先＞
本実験についてお聞きしたいことがある場合下記のメールアドレスにご連絡お願いいたします。

万が一の場合を除き応募後の応募辞退は認めておりません。
万が一の場合はなるべく早い段階で下記のメールアドレスにて募集者にご連絡お願いいたします。

%a @post.user.email
