/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
*= require_tree .
 */
 @media screen and (min-width:300px) {
  nav {
    // width: 570px;
  }

 }


 @media screen and (min-width:560px) {
  nav {
    width: 100%;
  }

 }

 @media screen and (min-width:820px) {
  nav {
    width: 100%;
  }
  // .nav-header {
  // margin-right: auto;
  // }
 }



 body {
  background-color: #9bc7bd;
}

 .text-center {
    color: #76838f;
    margin-right: 45px;
  }
 

@import "bootstrap";
@import "./sign_in";
@import "./sign_up";
// application.scssの冒頭に以下の記述を追記

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

