- content_for :css do
  =stylesheet_link_tag '/assets/flash'
  - flash.each do |key, value|
    %div{class: "alert alert-#{key} mx-auto"}
      = value
      %button{class: "close", type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
        %span{"aria-hidden" => "true"} &times;